<div class="container" style="margin-top: 50px;">
  <div class="row">
    <div class="col s12">
      <div class="card-panel teal lighten-2 center-align z-depth-2">
        <h5 class="white-text" style="font-weight: 300;">Liste des Corrections</h5>
      </div>
      <a routerLink="/admin/corrections/create" class="btn-large waves-effect waves-light orange darken-4 right">
        <i class="material-icons left">add</i>Ajouter une Correction
      </a>
    </div>
  </div>

  <div class="row" *ngIf="isLoading">
    <div class="col s12 center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <p class="flow-text grey-text">Chargement des corrections...</p>
    </div>
  </div>

  <div class="row" *ngIf="error">
    <div class="col s12 center-align">
      <div class="card-panel red lighten-1">
        <span class="white-text">{{ error }}</span>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading && !error && corrections.length > 0">
    <div class="col s12">
      <table class="striped responsive-table z-depth-1">
        <thead>
        <tr>
          <th>ID</th>
          <th>Épreuve</th>
          <th>Commentaire</th>
          <th>Document</th>
          <th>Vidéo</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let correction of corrections">
          <td>{{ correction.id }}</td>
          <td>{{ correction.epreuve?.codeEpreuve }}</td>
          <td>{{ correction.commentaire }}</td>
          <td>
            <a *ngIf="correction.cheminDocument" (click)="downloadFile(correction.cheminDocument)" class="btn-small btn-flat waves-effect waves-light blue-text text-darken-2">
              <i class="material-icons left">cloud_download</i>
              Document
            </a>
          </td>
          <td>
            <a *ngIf="correction.cheminVideo" (click)="downloadFile(correction.cheminVideo)" class="btn-small btn-flat waves-effect waves-light blue-text text-darken-2">
              <i class="material-icons left">cloud_download</i>
              Vidéo
            </a>
          </td>
          <td>
            <a [routerLink]="['/admin/corrections/edit', correction.id]" class="btn-floating waves-effect waves-light blue darken-2 tooltipped" data-position="top" data-tooltip="Modifier">
              <i class="material-icons">edit</i>
            </a>
            <button (click)="deleteCorrection(correction.id!)" class="btn-floating waves-effect waves-light red darken-2 tooltipped" data-position="top" data-tooltip="Supprimer">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" *ngIf="!isLoading && !error && corrections.length === 0">
    <div class="col s12 center-align">
      <div class="card-panel grey lighten-3">
        <span class="grey-text">Aucune correction trouvée.</span>
      </div>
    </div>
  </div>
</div>
